.logo {
    background: url(/img/logo.png) 0% 50% no-repeat;
    background-size: 28em;
    display: inline-block;
    float: left;
    letter-spacing: 0;
    margin-left: .5em;
    padding: 5em 5em;
}
