a {
    color: #17a2b8;
}

.navbar {
	height: 85px;
	border-bottom: 1px solid #dedede;
}

.logo {
    background: url(/img/logo.png) 0% 50% no-repeat;
	background-size: 18rem;
	padding: 4rem 5rem;
	position: absolute;
	bottom: -28px;
}

@keyframes card-appear {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 12px);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0px);
    }
}
.card {
	margin: 2rem 1rem;
	box-shadow: 5px 12px 16px #eaeaea;
	border: 1px solid rgba(0,0,0,.1);
	animation-name: card-appear;
	animation-duration: 0.3s
}
.card:nth-child(odd) {
	border-radius: 0rem 1rem 1rem 1rem;
}
.card:nth-child(even) {
	border-radius: 1rem 0rem 1rem 1rem;
}
.card .card-body {
	padding: 2rem;
}
.card .card-title {
	color: #003e44;
	border-bottom: 2px solid #5f98a3;
}

.alert {
	margin: 3rem 1rem;
	padding: 1.75rem 2rem;
	border-radius: 1rem 0rem 1rem 1rem;
}

